/*
body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 1em;
    background-image: linear-gradient(to right, white, yellow, orange);
}
main{
    box-shadow: 5px 5px 5px black;
    width: 600px;
    text-align: justify;
    padding: 15px;
    margin: auto;
    background-color: white;
    margin-top: 150px;
    border-radius: 20px;

}

h2{
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
    text-align: center;
    color: #e49604;  
}

h1{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: #e49604;
    text-decoration: underline;
    }*/
    